
.navbar{
	height: 30px;
	background-color: rgba(0,0,0,0.1);
	margin: 0;
	position: fixed;
	width: 100%;
	margin:0;
	top: 0;
	right: 0;
	padding: 5px;
}

.logo{
	display: inline-block;
	font-family: arial;
	font-size: 20px;
	font: bold;
	cursor: pointer;
	padding-left: 20px;
	padding-top: 3px;
}

.top-nav{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}
.top-nav a{
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
}

.top-nav a:link{
	color: #8483D8;
}
.top-nav a:hover{
	color: #FFED99!important;
}
.top-nav a:visited{
	color: #4D66FA;
}
.top-nav a:active{
	background: rgba(0,0,0,0.1);
	color: #4D66FA;
}


main{
	margin-top: 100px;
	margin-left: 50px;
}

a{
	text-decoration-line: none;
}

.search-input{
	font-size: 25px;
	display: inline-block;
	margin-bottom: 10px;
}

.search-bar .search-input,
.search-bar .search-button{
	height: 30px;
	border: 1px black solid;
	border-radius: 3px;
	display: inline-block;
}

.search-button:active{
	transform: translateY(4px);
}


.search-bar{
	display: inline-block;
	position: relative;
}

.search-bar input{
	height: 37px;
	font-size: 40px;
}

.paging{
	padding-top: 30px;
	padding-bottom: 30px;
}

.paging button{
	height: 40px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 16px;
	background-color: white;
	border: 1px black solid;
	cursor: pointer;
}

.paging button:hover{
	background-color: grey;
}

.paging button:active{
	transform: translateY(3px);
}

.search-result-display ul{
	list-style-type: none;
	padding-left: 0;
}

.search-result-detail{
	padding-right: 16px;
	font-size: 20px;
	color: rgba(0,0,0, 0.4);
}

.search-result-title{
	padding-right: 16px;
	font-size: 25px;
}

.search-result-title:link{
	color: blue;
}

.search-result-title:visited{
	color: #5332E6;
}

.search-result-title:active{
	background-color: rgba(0,0,0, 0.5)!important;	
}

.search-result-title:hover{
	background-color: rgba(0,0,0, 0.2);
}